h1 {
    background-image: linear-gradient(to right, blue , red,orange);
    color: white;
    text-align: center;
    height: 150px;
    padding-top: 40px;
    margin: 10px 10px;
    border-radius: 10px ;
    
}
nav {
    background-color: rgb(245, 245, 245);
    height: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 5px 10px;
    
}

.para {
    padding-top: 40px ;
    font-size: 15px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav a {
    text-decoration: none;
    color: rgba(177, 100, 100, 1);
    font-size: 20px;
    font-weight: bold;
}

.footer {
    background-color: rgb(146, 132, 22);
    color: rgb(161, 33, 33);
    text-align: center;
    height: 100px;
    padding-top: 40px;
    margin: 10px 10px;
    border-radius: 10px;
    font-size: 40px;
}
h2 {
    font-weight: body;
    margin: 30px 20px;
}
p {
    margin: 20px 20px;
}